body {
    text-decoration: none;
    padding: 1px;
}


.footer-links a {
    text-decoration: none;
}

footer {
    background-color: rgb(83, 76, 76);
}

.container1 {
    display: block;
    justify-content: space-between;
}


.img-dec {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

div ul li a {
    float: right;
    text-decoration: none;
    color: white;
    align-content: center;
}

.footer-con {
    height: 100px;
    background-color: rgb(55, 51, 51);
}

.footer-con div {
    border-right: aqua;
    float: left;
}

ul {
    list-style: none;
}

.to-style {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 10px;
    margin: auto;
}

li {
    padding: 10px 10px;
    margin: 10px 10px;

}

.div-align {
    position: absolute;
    bottom: 1px;
    width: 100%;
}